<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0b0d10">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <title>{{ page_title }}{% if current_tags %} – {{ current_tags | join: ', ' }}{% endif %}{% if current_page != 1 %} – Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} – {{ shop.name }}{% endunless %}</title>
    {{ content_for_header }}
    {{ 'kream.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="kream-body">
    <a class="skip-to-content-link" href="#MainContent">Skip to content</a>
    <div class="kream-app">
      {{ content_for_layout }}
    </div>
  </body>
</html>
